name: Terraform Test
on:
  pull_request:
  push:
    branches: [main, master]
jobs:
  job1:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - modules/dashboard
    permissions: write-all
    steps:
    - uses: dasmeta/reusable-actions-workflows/terraform-test@main
      id: hello2
      with:
        aws-region: ${{ secrets.AWS_REGION}}
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        path: ${{ matrix.path }}

  job2:
    runs-on: ubuntu-latest
    # needs: [job1]
    strategy:
      matrix:
        path:
          - modules/dashboard
    permissions: write-all
    steps:
    - uses: dasmeta/reusable-actions-workflows/terraform-test@main
      id: hello
      with:
        aws-region: ${{ secrets.AWS_REGION}}
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        path: ${{ matrix.path }}
  notify:
    if: ${{ always() && job2.steps.hello.outputs.status == 'failure' || job1.steps.hello2.outputs.status == 'failure' }}
    needs: [job1, job2]
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: ravsamhq/notify-slack-action@v2
      if: always()
      with:
        status: ${{ job.status }}
        notification_title: "{workflow} has {status_message}"
        message_format: "{emoji} *{workflow}* {status_message} in <{repo_url}|{repo}>"
        footer: "Linked Repo <{repo_url}|{repo}>"
        notify_when: "failure"
        mention_users: "U010TK7LG21"
        mention_users_when: "failure,warnings"
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
    # - name: Slack Notification
    #   uses: rtCamp/action-slack-notify@v2
    #   env:
    #     SLACK_CHANNEL: devopsutiun
    #     SLACK_COLOR: ${{ job.status }}
    #     SLACK_ICON: https://www.dasmeta.com/wp-content/uploads/2021/09/meta-logo-256.png
    #     SLACK_MESSAGE: 'Post Content :rocket:'
    #     SLACK_TITLE: Post Title
    #     SLACK_USERNAME: GitHub-Actions
    #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
